#home_container.container data-ng-controller="HomeCtrl"
  .row
    .col-lg-12
      h1.page-header Orders:
  .row
    .col-md-6
      form.form.order-form
        .form-group
          input.form-control.ng-pristine ng-model="buyOrder.price" placeholder="Price" required="" type="text"
        .form-group
          input.form-control ng-model="buyOrder.quantity" placeholder="Quantity" required="" type="text"
        .form-group
          button.btn.btn-primary ng-click="createOrder('buy')"  Buy
          button.btn.btn-primary ng-click="clearForm('buy')" Clear
    .col-md-6
      form.form.order-form
        .form-group
          input.form-control.ng-pristine ng-model="sellOrder.price" placeholder="Price" required="" type="text"
        .form-group
          input.form-control ng-model="sellOrder.amount" placeholder="Quantity" required="" type="text"
        .form-group
          button.btn.btn-primary ng-click="createOrder('sell')" Sell
          button.btn.btn-primary ng-click="clearForm('sell')" Clear
  .row
    .col.col-md-6
      table.table.table-striped
        tbody
          tr
            th Buy Price
            th Quantity
          tr.ng-scope ng-repeat=("order in buy_orders")
            td ng-bind="order.price"
            td ng-bind="order.quantity"
    .col.col-md-6
      table.table.table-striped
        tbody
          tr
            th Sell Price
            th Quantity
          tr ng-repeat=("order in sell_orders")
            td ng-bind="order.price"
            td ng-bind="order.quantity"

