header
  .container
    .navbar-header
      button.navbar-toggle.ng-scope bs-aside="" data-animation="am-fade-and-slide-left" data-container="body" data-placement="left" title="Menu" type="button"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand href=root_path #{SiteConfig.app_name}
    nav.collapse.navbar-collapse.bs-navbar-collapse role="navigation"
      ul.nav.navbar-nav
        == render 'layouts/navigation_links'
