doctype html
html
  head
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title
      = content_for?(:title) ? yield(:title) : 'Remitano'
    meta name="description" content="#{content_for?(:description) ? yield(:description) : 'Remitano'}"
    == stylesheet_link_tag "application", :media => 'all', 'data-turbolinks-track' => true
    == javascript_include_tag 'application', 'data-turbolinks-track' => true
    == csrf_meta_tags
  body data-ng-app="remitano" class="#{controller_name} #{action_name}" data-ng-controller="NavigationCtrl"
    == render 'layouts/navigation'
    #main[role="main"]
      .container
        == render 'layouts/messages'
        == yield
